{% extends 'base.html' %}
{% load static %}

{% block script %}
	<script src="{% static 'scripts/todo.js' %}"></script>
{% endblock script %}

{% block content %}
	<h2>Your To-Do list:</h2>
	
	<div class="todo-add">
		<form action="." method="post">

		{% csrf_token %}
		<input type="text" name="description" value="" />
		<input type="submit" name="class" value="Add" />

		</form>
	</div>

	{% if items %}
		<table class="todo-table">
			<tbody>
				{% for item in items %}
					<tr class="todo-item">
						<td class="remove-button" id="{{ item.id }}">X</td>
						<td class="description">
							<label>{{ item.description }}</label>
						</td>
						<td class="created">{{ item.date_created }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>	
	{% else %}
	
		<p>Nothing to do!</p>
	
	{% endif %}
{% endblock content %}