<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %} {% endblock title %}
	
	<!-- STYLE
	_______________________________ -->
	
	{% block style %}
	{% endblock style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	
	<!-- JAVASCRIPT
	_______________________________ -->

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>	
	{% block script %}
	{% endblock script %}

</head>

<body>
	{% include 'navbar.html' %}
	
	<div class="content-container">
		{% block content %}
		{% endblock content %}
	</div>
	
</body>

</html>